* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --first-background-color: #ffeed9;
  --secondary-background-color: #ffe5cc;
  --text-color: #594f43;
  --text-font-family: "Work Sans", sans-serif;
  --heading-text-color: #403930;
  --heading-font-family: "Eczar", serif;
  --title-font-family: "Patrick Hand", cursive;
  --primary-color: #4e5e80;
}
body {
  background-color: var(--first-background-color);
}
.about-body {
  background-color: var(--secondary-background-color);
}

.navbar-nav .nav-link,
.hello-box,
.home-page h1,
.home-page h2,
.home-page h3,
.home-page p,
.button-box .work-btn,
.button-box .contact-btn,
.project-link {
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.navbar-nav .nav-link {
  font-size: 1.3rem;
  color: var(--text-color);
  font-family: var(--text-font-family);
}
.navbar-box-home .nav-item {
  border-bottom: 3px solid var(--first-background-color);
  transition: all 250ms ease-in-out;
}
.navbar-box-about .nav-item {
  border-bottom: 3px solid var(--secondary-background-color);
  transition: all 250ms ease-in-out;
}
.navbar-nav .nav-item:hover {
  border-bottom: 3px solid #ffa8b0;
  cursor: pointer;
}
.navbar-brand {
  color: var(--heading-text-color);
}
.navbar-box-home {
  background-color: var(--first-background-color);
  box-shadow: 0 0 5px #ecd9c6;
}
.navbar-box-about {
  background-color: var(--secondary-background-color);
  box-shadow: 0 0 5px #ecd9c6;
}
.hello-box {
  font-size: 2rem;
  padding: 0.2em 0.8em;
  color: var(--heading-text-color);
  font-family: var(--text-font-family);
  align-items: center;
  background: #ffddbf;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.home-page {
  margin-top: 3em;
}
.home-page h1 {
  font-size: 3rem;
  margin-top: 0.5em;
  font-family: var(--heading-font-family);
  line-height: 125%;
  letter-spacing: 0.02em;
  color: var(--heading-text-color);
}
.home-page h2 {
  font-size: 2rem;
  margin-top: 2.3em;
  font-family: var(--heading-font-family);
  line-height: 125%;
  letter-spacing: 0.02em;
  color: var(--heading-text-color);
}

.home-page h3 {
  font-size: 2rem;
  color: var(--heading-text-color);
  font-family: var(--heading-font-family);
}
.home-page p {
  font-size: 1.5rem;
  color: var(--text-color);
  font-family: "Work Sans";
  font-weight: 500;
  font-family: var(--text-font-family);
}

.button-box {
  margin-top: 1.1em;
}
.button-box button {
  font-size: 1rem;
  padding: 1.3em 4em;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: all 250ms ease-in-out;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.button-box .work-btn {
  background: var(--primary-color);
  font-family: var(--text-font-family);
  color: #f3f2ff;
}
.button-box .work-btn:hover {
  background: #3a4761;
}
.button-box .contact-btn {
  margin-left: 1em;
  font-family: var(--text-font-family);
  color: #4d5566;
  box-sizing: border-box;
  align-items: center;
  border: 2px solid #4d5566;
  background-color: #f3f2ff;
}
.button-box .contact-btn:hover {
  background-color: #eaeaeb;
  color: #323d53;
}
.arrow {
  padding-left: 1em;
}
.dot {
  visibility: hidden;
}
.b-tool-box-skill {
  margin-top: 4.5em;
}

.b-tool-box-skill h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.b-tool-box-skill div {
  font-size: 2rem;
  margin-bottom: 0.9em;
  font-family: "Patrick Hand", cursive;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.02em;
  color: #594f43;
}
.b-tool-box-row {
  margin-top: 2em;
}
.b-tool-box-row .col-4 {
  margin-top: 1em;
}
.b-tool-box {
  padding: 1em 0;
  background: #fff8f2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.pro-img {
  border-radius: 8px;
}
.b-tool-box img {
  max-width: 50%;
  margin: 0 auto;
  display: block;
}
.b-tool-box div {
  font-size: 1.5rem;
  font-family: "Patrick Hand", cursive;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.02em;
  color: #594f43;
  text-align: center;
  padding: 0.5em 0;
}

.s-tool-box {
  padding: 0.5em 0;
  display: flex;
  justify-content: space-around;
  background: #fff8f2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.s-tool-box img {
  max-width: 25%;
}
.s-tool-box span {
  font-size: 1.3rem;
  font-family: "Patrick Hand";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #594f43;
}
.project-box {
  padding: 2em;
  background-color: #fff9f2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
}
.project-link-box {
  margin-top: 2em;
}
.project-link-button {
  padding: 1em 1.5em;
  background: #4e5e80;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  transition: all 0.3s ease-out 0s;
  cursor: pointer;
}
.project-link-button:hover {
  background: #3d4a64;
}
.project-link {
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  text-decoration: none;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: #fff8f2;
}
.project-link-button a {
  text-decoration: none;
}
.social-media-box {
  margin-top: 2em;
  margin-bottom: 5em;
}
.social-media-box .row {
  margin-top: 3em;
}
.social-media-box h2 {
  margin: 0;
  margin-top: 1em;
}
.social-media-box span {
  font-size: 2rem;
  margin-bottom: 0.9em;
  font-family: "Patrick Hand", cursive;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.02em;
  color: #594f43;
}

.social-box {
  padding: 0.5em 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  cursor: pointer;
  background: #fff8f2;
  transition: all 0.3s ease-out 0s;
  border: 1px solid #fff8f2;
}
.social-box:hover {
  transform: translateY(-5px);
}

.social-link {
  font-size: 1.2rem;
  text-decoration: none;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: #594f43;
}

.about-contact-box {
  margin: 3.5rem 0;
}
.about-contact-box .row {
  margin-top: 1.5em;
}
.about-contact-box .title {
  font-size: 2rem;
  text-align: center;
  font-family: "Patrick Hand", cursive;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.02em;
  color: #594f43;
}

.about-contact-box h2 {
  font-size: 3.5rem;
  margin: 0;
  margin: 0.5em 0;
  text-align: center;
}

.github,
.linkedin,
.instagram,
.gmail {
  font-size: 3rem;
  text-decoration: none;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}
.github {
  color: #171515;
}
.linkedin {
  color: #0072b1;
}
.instagram {
  color: #e4405f;
}
.gmail {
  color: #db4437;
}
.github-box:hover {
  color: #171515;
}
.linkedin-box:hover {
  color: #0072b1;
}
.instagram-box:hover {
  color: #e4405f;
}
.gmail-box:hover {
  color: #db4437;
}
.progress-link {
  text-decoration: none;
}
.progress-text {
  font-size: 2rem;
  margin-bottom: 0.5em;
  font-family: "Patrick Hand", cursive;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #594f43;
}
.progress-box {
  margin-top: 5em;
  display: none;
}
#food-recipe-app-project {
  display: none;
}
#coming-text {
  color: red;
}
.portfolio-link {
  text-decoration: none;
}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-nav .nav-link {
    font-size: 1.3rem;
  }
  .home-page {
    margin-top: 5em;
  }
  .hello-box {
    font-size: 2rem;
    margin-right: 2em;
  }
  .home-page h1 {
    font-size: 2.7rem;
    margin-top: 0.7em;
  }
  .home-page h2 {
    font-size: 2rem;
    margin-top: 1em;
  }
  .home-page h3 {
    font-size: 2rem;
  }
  .home-page p {
    font-size: 1.5rem;
  }
  .button-box {
    margin-top: 1.1em;
  }
  .button-box button {
    font-size: 1rem;
    padding: 1em 2.5em;
  }
  .button-box .contact-btn {
    margin-left: 1em;
  }
  .project-box {
    padding: 2em;
  }
  .b-tool-box-skill div {
    font-size: 2rem;
  }
  .b-tool-box div {
    font-size: 1.5rem;
  }
  .s-tool-box span {
    font-size: 1.3rem;
  }
  .project-link-button {
    font-size: 1rem;
    padding: 1em;
  }
  .project-link {
    font-size: 1rem;
  }

  .social-media-box span,
  .progress-text {
    font-size: 2rem;
  }
  .social-media-box h2 {
    margin: 0;
    margin-top: 1em;
  }
  .social-link {
    font-size: 1.2rem;
  }

  .github,
  .linkedin,
  .instagram,
  .gmail {
    font-size: 3rem;
  }
  .b-tool-box-row {
    margin-top: 0;
  }
  .b-tool-box-skill {
    margin-top: 5em;
  }
  .social-media-box .row {
    margin-top: 1em;
  }
  .about-contact-box {
    margin-top: 1em;
  }
  .about-contact-box h2 {
    font-size: 2.2rem;
    margin-top: 1em;
  }
  .about-contact-box .title {
    font-size: 2rem;
  }
  .about-contact-box .row {
    margin-top: 1em;
  }
  .progress-box {
    margin-top: 3em;
    margin-bottom: 3em;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-link {
    font-size: 1.2rem;
  }
  .home-page {
    margin-top: 5em;
  }
  .hello-box {
    font-size: 2rem;
  }
  .home-page h1 {
    font-size: 2rem;
    margin-top: 0.7em;
  }
  .home-page h2 {
    font-size: 2rem;
  }
  .home-page h3 {
    font-size: 2rem;
  }
  .home-page p {
    font-size: 1.2rem;
  }
  .project-box {
    padding: 2em 2em;
  }
  .button-box {
    margin-top: 1.1em;
  }
  .button-box button {
    font-size: 1rem;
    padding: 1em 1.4em;
  }
  .button-box .contact-btn {
    margin-left: 0.4em;
  }
  .b-tool-box-skill div {
    font-size: 1.8rem;
  }
  .b-tool-box div {
    font-size: 1.2rem;
  }
  .s-tool-box span {
    font-size: 1.1rem;
  }
  .project-link-button {
    font-size: 1rem;
    padding: 0.4em;
  }
  .social-media-box span,
  .progress-text {
    font-size: 1.5rem;
  }
  .social-media-box h2 {
    margin: 0;
    margin-top: 0.5em;
  }
  .social-link {
    font-size: 1.2rem;
  }
  .project-link {
    font-size: 1rem;
  }
  .github,
  .linkedin,
  .instagram,
  .gmail {
    font-size: 2rem;
  }

  .about-contact-box {
    margin-top: 1em;
  }
  .about-contact-box h2 {
    font-size: 2.2rem;
    margin-top: 1em;
  }
  .about-contact-box .title {
    font-size: 2rem;
  }
  .about-contact-box .row {
    margin-top: 1em;
  }
  .progress-box {
    margin-top: 3em;
    margin-bottom: 1em;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .navbar-nav .nav-link {
    font-size: 1rem;
  }
  .home-page {
    margin-top: 5em;
  }
  .hello-box {
    font-size: 1.5rem;
  }
  .home-page h1 {
    font-size: 1.5rem;
    margin-top: 0.5em;
  }
  .home-page h2 {
    font-size: 1.5rem;
    margin-top: 1.5em;
  }
  .home-page h3 {
    font-size: 1.5rem;
  }
  .home-page p {
    font-size: 1rem;
  }
  .project-box {
    padding: 2em 1em;
  }
  .button-box {
    margin-top: 0.5em;
  }
  .button-box button {
    font-size: 0.8rem;
    padding: 1em;
  }
  .button-box .contact-btn {
    margin-left: 0.4em;
  }
  .b-tool-box-skill div {
    font-size: 1.5rem;
  }
  .dot {
    display: none;
  }
  .b-tool-box div {
    font-size: 0.9rem;
  }
  .s-tool-box span {
    font-size: 0.8rem;
  }
  .project-link-button {
    font-size: 0.7rem;
    padding: 0.7em 0.8em;
  }
  .project-link {
    font-size: 0.7rem;
  }
  .social-media-box span,
  .progress-text {
    font-size: 1.5rem;
  }
  .social-media-box h2 {
    margin: 0;
    margin-top: 0.5em;
  }
  .social-link {
    font-size: 1rem;
  }

  .github,
  .linkedin,
  .instagram,
  .gmail {
    font-size: 1.5rem;
  }

  .b-tool-box-row {
    margin-top: 0;
  }
  .b-tool-box-skill {
    margin-top: 5em;
  }
  .social-media-box .row {
    margin-top: 1em;
  }

  .about-contact-box {
    margin-top: 1em;
  }
  .about-contact-box h2 {
    font-size: 1.5rem;
    margin-top: 1em;
  }
  .about-contact-box .title {
    font-size: 1.5rem;
  }
  .about-contact-box .row {
    margin-top: 1em;
  }
  .progress-box {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  .navbar-nav .nav-link {
    font-size: 1rem;
  }
  .hello-box {
    font-size: 1.4rem;
    margin-right: 2em;
  }
  .dot {
    display: none;
  }
  .home-page h1 {
    font-size: 1.5rem;
    margin-top: 0.5em;
  }
  .home-page h3 {
    font-size: 1.5rem;
  }
  .home-page p {
    font-size: 1rem;
  }
  .button-box {
    margin-top: 0.5em;
  }
  .button-box button {
    font-size: 0.8rem;
    padding: 1em;
  }
  .button-box .contact-btn {
    margin-left: 0.5em;
  }
  .project-box {
    padding: 2em 1em;
  }
  .b-tool-box-skill div {
    font-size: 1.5rem;
  }
  .b-tool-box div {
    font-size: 1rem;
  }
  .home-page {
    margin-top: 3em;
    padding: 0 1.8em;
  }
  .home-page h2 {
    font-size: 1.3rem;
    margin-top: 0.8em;
  }
  .b-tool-box-row {
    margin-top: 0;
  }
  .b-tool-box-skill {
    margin-top: 5em;
  }
  .social-media-box .row {
    margin-top: 1em;
  }
  .s-tool-box span {
    font-size: 0.8rem;
  }
  .project-link-button {
    font-size: 0.7rem;
    padding: 0.5em;
  }
  .project-link {
    font-size: 0.8rem;
  }
  .social-media-box span,
  .progress-text {
    font-size: 1.5rem;
  }
  .social-media-box h2 {
    margin: 0;
    margin-top: 0.5em;
  }
  .social-link {
    font-size: 1rem;
  }

  .github,
  .linkedin,
  .instagram,
  .gmail {
    font-size: 1.5rem;
  }
  .about-page {
    padding: 0 2.1em;
  }
  .about-page h1 {
    margin-right: 2rem;
  }
  .about-contact-box {
    margin-top: 1em;
  }
  .about-contact-box h2 {
    font-size: 1.5rem;
  }
  .about-contact-box .title {
    font-size: 1.5rem;
  }
  .about-contact-box .row {
    margin-top: 1em;
  }
  .progress-box {
    margin-top: 1.5em;
    margin-bottom: 2em;
  }
}
